<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/myinfo">My Info</a></li>
</ul>

<script>


</script>
